/* 전체 화면을 덮는 반투명 막 */
.global-spinner-overlay {
    position: fixed;
    inset: 0; /* top/right/bottom/left 모두 0 (화면 꽉 채움) */
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999; /* 제일 위에 */
    display: flex; /* 내용물 중앙 정렬 */
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px); /* 배경 흐림 효과 */
}